*{
    margin: 0;
    padding: 0;

}

.container{
    max-width: 900px;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.medium {
    padding: 48px 0;
}



.medium .medium__container .number{
    display: flex;
    flex-direction: column;
}

.medium .medium__container .number input {
    width: 80px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.medium button{
    padding: 10px 20px;
    display: inline-block;
    background-color: pink;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}